---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$text-color:       rgb(202, 202, 202);
$background-color: #161616;
$brand-color:      #c5deff;

$grey-color:       #828282;
$grey-color-light: rgb(245, 245, 245);
$grey-color-dark:  darken($grey-color, 25%);

$container-background: rgb(82, 82, 82);

$h2-background-color: darken($container-background, 10%);
$h3-background-color: darken($h2-background-color, 10%);
$h4-background-color: darken($h3-background-color, 10%);

$highlighter-background: rgb(11, 11, 11,);
$highlighter-color: white;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "common",
        "base",
        "layout",
        "syntax-highlighting"
;
