---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$text-color:       rgba(17, 17, 17, 0.7);
$background-color: rgb(250, 247, 235); 
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: rgb(245, 245, 245);
$grey-color-dark:  darken($grey-color, 25%);
$gradient-light: rgb(245, 245, 245);
$gradient-dark:  rgb(200, 200, 200);

$container-background: #f9f8ee9f;
$link-shadow: rgb(235,235,235);
$sidebar-background:  #f9f8ee9f;

$h2-background-color: darken($container-background, 6%);
$h3-background-color: darken($h2-background-color, 6%);
$h4-background-color: darken($h3-background-color, 6%);

$highlighter-background: rgb(245, 245, 245);;
$highlighter-color: black;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "common",
        "base",
        "layout",
        "syntax-highlighting"
;
