<div id="h-chart">
    <img harmonic="all" class="h-visible" src="/assets/Harmonics/AllMarkers.png">
    <img harmonic="1" class="h-invisible" src="/assets/Harmonics/1.png">
    <img harmonic="2" class="h-invisible" src="/assets/Harmonics/2.png">
    <img harmonic="3" class="h-invisible" src="/assets/Harmonics/3.png">
    <img harmonic="4" class="h-invisible" src="/assets/Harmonics/4.png">
    <img harmonic="5" class="h-invisible" src="/assets/Harmonics/5.png">
    <img harmonic="6" class="h-invisible" src="/assets/Harmonics/6.png">
    <img harmonic="7" class="h-invisible" src="/assets/Harmonics/7.png">
    <img harmonic="8" class="h-invisible" src="/assets/Harmonics/8.png">
    <img harmonic="9" class="h-invisible" src="/assets/Harmonics/9.png">
    <img harmonic="10" class="h-invisible" src="/assets/Harmonics/10.png">
</div>
    
<span id="h-selector">
<span class="h-button" harmonic="1">1st</span>
<span class="h-button" harmonic="2">2nd</span>
<span class="h-button" harmonic="3">3rd</span>
<span class="h-button" harmonic="4">4th</span>
<span class="h-button" harmonic="5">5th</span>
<span class="h-button" harmonic="6">6th</span>
<span class="h-button" harmonic="7">7th</span>
<span class="h-button" harmonic="8">8th</span>
<span class="h-button" harmonic="9">9th</span>
<span class="h-button" harmonic="10">10th</span>
<span class="h-button" harmonic="all">All</span>
<span class="h-button" harmonic="expand">Expand</span>
<span>
    
<script>

    var h_expanded;

    window.addEventListener('DOMContentLoaded', (event) => {
        var h_buttons = document.querySelectorAll(".h-button");
        for(i = 0; i < h_buttons.length;i++ ) {
            h_buttons[i].addEventListener('click', switch_harmonic)
        }
        scale = 34;
        number_of_frets = 24;
        for (let i = 0; i < number_of_frets; i++) {
            d = scale - (scale / (Math.pow(2, (i / 12))));
            console.log(`Fret ${i}: ${d} from nut`)
        }
    });

    function clear_all_harmonics() {
        var h_imgs = document.querySelectorAll("#h-chart img");
        for(i = 0; i < h_imgs.length;i++ ) {
            h_imgs[i].classList.remove("h-visible");
            h_imgs[i].classList.remove("h-border");
            h_imgs[i].classList.add("h-invisible");
        }
    }
    function show_all_harmonics() {
        var h_imgs = document.querySelectorAll("#h-chart img");
        for(i = 0; i < h_imgs.length;i++ ) {
            h_imgs[i].classList.remove("h-invisible");
            h_imgs[i].classList.add("h-visible");
            h_imgs[i].classList.add("h-border");
        }
    }
    
    function switch_harmonic(e) {
        h = e.target.getAttribute("harmonic");
        if (h !== "expand") {
            clear_all_harmonics();
            document.querySelector("#h-chart img[harmonic='" + h + "']").classList.add("h-visible");
            document.querySelector("#h-chart img[harmonic='" + h + "']").classList.remove("h-invisible");
            if (h_expanded == true) {
                e.target.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
                h_expanded = false;
            }
        } else {
            show_all_harmonics();
            h_expanded = true;
        }
    }
</script>