<script>
      window.addEventListener('DOMContentLoaded', (event) =>
      {
          for (x=1;x<7;x++) {
              var h1s = document.getElementsByTagName("H" + x);

              // Wrap Hx tags with the appropriate divs for an 'outline' type presentation
              for (i=0;i<h1s.length;i++) {
                  var w = document.createElement('div');
                  var el = h1s[i];
                  w.className = "h" + x + "-container";
                  w.id = el.id + "-container";

                  el.classList.add("header-sticky-" + x)
                  el.classList.add("header-sticky")

                  var anchor = document.createElement("a")
                  anchor.innerText = "⎘"
                  anchor.href = "#" + el.id
                  anchor.classList.add("copy-button")

                  el.appendChild(anchor)
                  var ns = el.nextSibling;
                  
                  el.parentNode.insertBefore(w, el);
                  w.appendChild(el);
                  
                  while (ns != null && (ns.tagName != "H" + x) && (ns.className != "h" + x + "-container")) {
                      ns2 = ns.nextSibling;
                      w.appendChild(ns);
                      ns = ns2;
                  }}

          }

          var headers = document.querySelectorAll("h1, h2, h3, h4, h5, h6, h7")

          for (i=0;i<headers.length;i++) {
              el = headers[i];
              el.style.zIndex = headers.length - i;
          }
      });

  (function(document, history, location) {
  var HISTORY_SUPPORT = !!(history && history.pushState);

  var anchorScrolls = {
    ANCHOR_REGEX: /^#[^ ]+$/,
    OFFSET_HEIGHT_PX: 150,

    init: function() {
      this.scrollToCurrent();
      window.addEventListener('hashchange', this.scrollToCurrent.bind(this));
      document.body.addEventListener('click', this.delegateAnchors.bind(this));
    },

    getFixedOffset: function(tag) {
        switch (tag) {
        case "H1":
            return 65;
        case "H2":
            return 113;
        case "H3":
            return 155;
        case "H4":
            return 196;
        }

      return this.OFFSET_HEIGHT_PX;
    },
    scrollIfAnchor: function(href, pushToHistory) {
      var match, rect, anchorOffset;

      if(!this.ANCHOR_REGEX.test(href)) {
        return false;
      }

      match = document.getElementById(href.slice(1));
      matchContainer = document.getElementById(href.slice(1) + "-container");

      if(match) {
        rect = matchContainer.getBoundingClientRect();
        anchorOffset = window.pageYOffset + rect.top - this.getFixedOffset(match.nodeName);
        window.scrollTo(window.pageXOffset, anchorOffset);

        if(HISTORY_SUPPORT && pushToHistory) {
          history.pushState({}, document.title, location.pathname + href);
        }
      }

      return !!match;
    },

    scrollToCurrent: function() {
      this.scrollIfAnchor(window.location.hash);
    },

    delegateAnchors: function(e) {
      var elem = e.target;

      if(
        elem.nodeName === 'A' &&
        this.scrollIfAnchor(elem.getAttribute('href'), true)
      ) {
        e.preventDefault();
      }
    }
  };

  window.addEventListener(
    'DOMContentLoaded', anchorScrolls.init.bind(anchorScrolls)
  );
})//(window.document, window.history, window.location);
// remove above line to use

  window.addEventListener('load', (event) => {
      let curEls = []

      function observer_update (e) {
          for (x of e) {
              let el = x;
              let level = el.target.nodeName.substring(1);

              if (el.intersectionRatio < 1) {
                  //let rect = el.intersectionRect;
                  let rect = el.target.getBoundingClientRect()

                  if (rect.y < (window.innerHeight / 2)) {
                      el.target.classList.add("is-pinned-" + level);
                  }
              } else {
                  el.target.classList.remove("is-pinned-" + level);
              }

              console.log("ER: " + el.intersectionRatio)
              console.log("nodeName: " + el.target.nodeName)
              console.log("id: " + el.target.id)
              console.log("rect: " + el.intersectionRect.y)
              console.log("window: " + window.innerHeight)
          }   
      }


      hOffsets = [0, 0, 58, 100, 141]; // index 0 as 0, as an offset. We don't iterate over H0 :)

      for (i=1;i<hOffsets.length;i++) {
          x = hOffsets[i];

          rm = `-${x + 1}px 0px 0px 0px`
          console.log(`Updating H${i} with ${x + 1}`)

          let observer = new IntersectionObserver( 
              observer_update,
              { threshold: 1,
                rootMargin: rm}
          );

          let hs = document.querySelectorAll("h" + i)
          if (i == 2)
              var itr = 1
          else
              var itr = 0

          for (y=itr;y < hs.length;y++) {
              observer.observe(hs[y]);
          }
      }
  });


</script>
