<div class="sidebar-left">
  <div class="nav-section-site-title">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <form method="get" id="search" action="http://duckduckgo.com/" target="new" >
      <input type="hidden" name="sites" value="admiralbumblebee.com"/>
      <input type="hidden" name="k8" value="#444444"/>
      <input type="hidden" name="k9" value="#D51920"/>
      <input type="hidden" name="kt" value="h"/>
      <input type="text" name="q" maxlength="255" placeholder="search" id="search-submit" />
    </form>
  </div>

  <div class="nav-section">
    <a id="theme_button" class="sidebar-link sidebar-link-top" href="#" onclick="admt.switch_theme();return false;">theme</a>
    <div id="theme-color-boxes"></div>
  </div>

  <div class="nav-section">
    <a class="sidebar-link sidebar-link-top" href="/tags/?year=true">articles</a>
    <a class="sidebar-link sidebar-link-sub" href="/tags/?year=false">tags</a>
    <a class="sidebar-link sidebar-link-sub" href="/Favourites.html">favourites</a>
    <a class="sidebar-link sidebar-link-sub" href="/FreeBees.html">freeBees</a>
    <a class="sidebar-link sidebar-link-sub" href="/Harmonics.html">harmonics</a>
  </div>

  <div class="nav-section">
    <a class="sidebar-link sidebar-link-top" href="/tags/?year=false#DAW">daw</a>
    <a class="sidebar-link sidebar-link-sub" href="/DAW-Chart.html">ratings</a>
    <a class="sidebar-link sidebar-link-sub" href="/DAW-Wants.html">wants</a>
  </div>
  
  <div class="nav-section">
    <a class="sidebar-link sidebar-link-top" href="/tags/?year=false#Reaper">reaper</a>
    <a class="sidebar-link sidebar-link-sub" href="/ReaperScripts.html">scripts</a>
    <a class="sidebar-link sidebar-link-sub" href="/ReaperSettings.html">settings</a>
  </div>

  <div class="nav-section">
    <a class="sidebar-link sidebar-link-top" href="https://twitter.com/admiralbee">socials</a>
    <a class="sidebar-link sidebar-link-sub" href="https://www.youtube.com/admiralbumblebee">youtube</a>
    <a class="sidebar-link sidebar-link-sub" href="https://discord.gg/34cFzVn">discord</a>
    <a class="sidebar-link sidebar-link-sub" href="feed://admiralbumblebee.com/feed.xml">rss</a>
  </div>
  
  
  <div class="nav-section">
    <a class="sidebar-link sidebar-link-top" href="/about">about</a>
    <a class="sidebar-link sidebar-link-sub" href="/DonateNow/">support</a>
    <a class="sidebar-link sidebar-link-sub" href="/health/">health</a>
    <a class="sidebar-link sidebar-link-sub" href="https://github.com/RobertARandolph/AdmiralBumbleBee.com">source</a>
  </div>

  <div class="post-count" id="wisdom"></div>
</div>
