    <div class="sidebar-left">
      <div>
        <a class="sidebar-link sidebar-link-top" href="/tags/">Articles</a>
        <a class="sidebar-link sidebar-link-sub" href="/tags/?year=true">Recent</a>
        <a class="sidebar-link sidebar-link-sub" href="/tags/?year=false">Tags</a>
      </div>

      <div>
        <a class="sidebar-link sidebar-link-top" href="">Lists</a>
        <a class="sidebar-link sidebar-link-sub" href="/FreeBees.html">FreeBees</a>
        <a class="sidebar-link sidebar-link-sub" href="/Favourites.html">Favourites</a>
      </div>

      <div>
        <a class="sidebar-link sidebar-link-top" href="/tags/?year=true#DAW">DAWs</a>
        <a class="sidebar-link sidebar-link-sub" href="/DAW-Chart.html">Feature Chart</a>
        <a class="sidebar-link sidebar-link-sub" href="/DAW-Wants.html">Wants</a>
      </div>
      
      <div>
        <a class="sidebar-link sidebar-link-top" href="/tags/?year=false#Reaper">REAPER</a>
        <a class="sidebar-link sidebar-link-sub" href="/ReaperScripts.html">Script Showcase</a>
        <a class="sidebar-link sidebar-link-sub" href="/ReaperSettings.html">Settings</a>
      </div>

      <div>
        <a class="sidebar-link sidebar-link-top" href="https://twitter.com/admiralbee">Social Media</a>
        <a class="sidebar-link sidebar-link-sub" href="https://www.youtube.com/admiralbumblebee">Youtube</a>
        <a class="sidebar-link sidebar-link-sub" href="https://discord.gg/34cFzVn">Discord</a>
      </div>
      
          
      <div>
        <a class="sidebar-link sidebar-link-top" href="/tags/?year=true#General">Other</a>
        <a class="sidebar-link sidebar-link-sub" href="/about/">About</a>
        <a class="sidebar-link sidebar-link-sub" href="/Health.html">Health</a>
        <a class="sidebar-link sidebar-link-sub" href="/Harmonics.html">String Harmonics</a>
        <a class="sidebar-link sidebar-link-sub" href="https://github.com/admiralbumblebee/AdmiralBumbleBee.com">Site Source</a>
      </div>
    </div>
