/**
 * Site header
 */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $sidebar-background;
    border-top: 2px solid $grey-color-dark;
    // box-shadow: 0px 2px 2px $grey-color-light;
    padding-top: 0px;
    padding-bottom: 3px;
    height: 50px;
    z-index: 1000;
    display: none;

    @include media-query($on-palm) {
        display: none;
    }

    // Positioning context for the mobile navigation icon
    //    position: relative;
}

#feature-text {
    color: rgba(31, 0, 0, 0.849);
    padding: 3px 8px 3px 8px;
    border: 1px solid darken($grey-color-light, 15%);

    &:hover {
        text-decoration: none !important;
        background-color: darken($grey-color-light, 15%);
    }
}

#feature-menu {
    background-color: $grey-color-light;
}

.dropdown {
    display: inline-block;

    @include media-query($on-palm) {
        visibility: hidden;
        width: 0%;
        float: none;
        display: none;
    }
}

/*
.dropdown:hover .dropdown-content {
    display: block;
}
*/


#title-count {
    float: left;
    margin-left: 5px;
    @include media-query($on-palm) {
        width: 75%;
    }
}

.vacation {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    border: 2px dotted white;
    padding: 0px 10px;
    opacity: 0.8;
    transform: rotate(30deg);
    z-index: 1001; // Let's get over that side header, shall we?

    @include media-query($on-palm) {
        top: 100px;
        padding: 0px 2px;
        z-index: 2;
    }

    background-color: $brand-color;

    .top {
        @include media-query($on-palm) {
            font-size: 20px;
        }
        text-align: center;
        font-size: 24px; 
        font-weight: 800;
        color: $background-color;
        margin-top: 3px;
    }
    .bottom {
        @include media-query($on-palm) {
            font-size: 12px;
        }
        text-align: center;
        font-size: 12px; 
        font-weight: 800;
        color: $background-color;
        margin-top: -13px;
    }
}

h1, h2, h3, h4 {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.is-pinned-1 {}


.is-pinned-2 {
    padding-left: 20px;
    @include media-query($on-palm) {
        padding-left: 0px;
    }
}


.is-pinned-3 {
    padding-left: 40px;
    @include media-query($on-palm) {
        padding-left: 0px;
    }
}
.is-pinned-4 {
    padding-left: 60px;
    @include media-query($on-palm) {
        padding-left: 0px;
    }
}

.sidebar-right {
    flex: 1;
    position: sticky;
    position: webkit-sticky;
    max-width: 15em;
    display: none;

    @include media-query($on-palm) {
        display: none;
    }
}

.sidebar-left {
    //width: 200px;
    flex: 0 0 $left-sidebar-width;
    position: sticky;
    position: webkit-sticky;
    // max-width: 10em;
    top: 0px;
    //float: left;
    //clear: both;
    //margin-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    background-color: $sidebar-background;

    @include media-query($on-palm) {
        display: none;
    }

    #wisdom {
        position: fixed;
        bottom: 0px;
        color: $grey-color-dark;
        padding: 5px;
        font-size: 10pt;
        line-height: 12pt;
        width: $left-sidebar-width;
    }


    #theme-color-boxes {
        display: flex;
        border: 1px solid grey;
        margin-left: 1.1em;
        padding: 0;
        height: 20px;
        margin-top: 0.25em;
        margin-bottom: 20px;
    }

    .theme-color-box {
        // border: 1px solid grey;
        border-right: none;
        flex: 1;
        height: 20px;
        width: 20px;
    }

    #theme-indicator {
        font-size: 12px;
        position: relative;
        top: 8px; 
        left: 5px;
        color: $light-text-color;
    }

    .sidebar-link {
        display: block;
        font-size: 20px;
        text-decoration: none;
        color: $text-color;
        padding: 0px;
        margin: 0px;
        background-color: $sidebar-background;
        padding-left: 20px;
    }

    .sidebar-link:hover {
        background-color: lighten($sidebar-background, 5%);
    }

    .sidebar-link-top {
        font-weight: 300;
        font-size: 20px;
        background-color: $sidebar-sub;
        letter-spacing: 0.09em;
        margin-bottom: 4px;
    }

    .sidebar-link-sub {
        position: relative;
        font-size: 16px !important;
        letter-spacing: 0.09em;
        margin-bottom: 0px;
    }

    .nav-section {
        margin-bottom: 15px;
    }

    .nav-section-site-title {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;

        .site-title {
            font-size: 20px;
            font-weight: 300;
            // margin-bottom: -5px;
            // margin-left: 1%;
            // margin-top: 5px;
            // padding-bottom: 0;
            // float: left;
            color: $text-color;
            // background: transparent;

            &,
            &:visited {
                color: $text-color;
            }
            @include media-query($on-palm) {
                margin-left: 1%;
            }
        }

    }

    @include media-query($on-palm) {
        display: none;
        visibility: hidden;
        width: 0%;
    }
}

.side-bar-box {
    width: $left-side-bar-width;
    position: absolute;
    float: left;
    margin-left: 0;
    background-color: $sidebar-background !important;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    clear: both;
    margin-top: 10px;

    .sidebar-link {
        display: block;
        font-size: 24px;
        text-decoration: none;
        color: $text-color;
        
    }

    @include media-query($on-palm) {
        display: none;
        visibility: hidden;
        width: 0%;
    }
}

.side-bar-box2 {
    position: fixed;
    width: $right-side-bar-width;
    position: relative;
    float: right;
    margin-right: 0;
    background-color: $sidebar-background !important;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    clear: both;
    margin-top: 10px;

    @include media-query($on-palm) {
        display: none;
        visibility: hidden;
        width: 0%;
    }
}

.side-bar-iframe {
    width: 100%;
    height: 900px;
    display: block;
    border: none;
    overflow: hidden;
}

.patreon-button {
    width: 217px;
    height: 51px;
}

.recent-post {
    width: 100%;
    border-bottom: 1px solid $grey-color;
    // box-shadow: -2px 2px 10px $link-shadow;
    padding: 0 0 2px 2px;
    margin-top: 5px;
    margin-top: 12px;
    margin-left: 3px;
    border-radius: 0px 0px 0px 2px;

    .recent-post-link {
        padding: 1px;
        display: block;
    }
    .recent-post-link:hover {
        background-color: $grey-color-light;
    }
}

.recent-post-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#mobile-search {
    display: none;

    @include media-query($on-palm) {
        display: block;
        margin-left: 1%;
        width: 100%;

        #mobile-search-box {
            width: 75%;
        }

        #mobile-search-go {
            width: 10%;
        }
    }
}

.site-nav {
    margin-top: 7px;
    padding-top: 3px;
    text-align: center;
    z-index: 1000000;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-size: 22px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 4px;
        font-size: 20px;
    }

    .donate-mobile {
        display: none;
    }

    .site-map-mobile {
        display: none;
    }

    #toggle {
        display: none;
    }

    @include media-query($on-palm) {
        position: fixed;
        top: 9px;
        right: $spacing-unit / 2;
        border-radius: 5px;
        text-align: right;
        background-color: $background-color;
        border: 2px $grey-color-dark solid;

        .donate-mobile {
            display: block;
        }

        .site-map-mobile {
            display: block;
        }
        .menu-icon {
            position: sticky;
            top: 10px;
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        // checkbox hack from: https://css-tricks.com/the-checkbox-hack/

        #toggle:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .trigger {
            clear: both;
            display: none;
            border: none;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
    .current-theme {
        -webkit-box-shadow: inset 0px -4px 0px 0px lightgreen;
        -moz-box-shadow: inset 0px -4px 0px 0px ligntgreen;
        box-shadow: inset 0px -4px 0px 0px lightgreen;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}


#footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col-right {
    float: right;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}


.page-heading {
    font-size: 20px;
}

.index-post {
    margin-left: 0;
    margin-bottom: 2em;
    background-color: $container-background;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style: none;

    @include media-query($on-palm) {
        padding: 0;
        
        ul {
            list-style: inside;
        }
    }

    h2 {
        margin-top: 0;
    }

    iframe {
        max-width: 100%;
    }
}

.post-list {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-info {
    display: flex;
    justify-content: space-between;

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .post-versions {
        font-size: $medium-font-size;
        color: blue;
    }
}



h2 .post-link {
    display: block;
    font-size: 36pt;
    font-weight: 400;
    line-height: 1;
    line-spacing: 0.3pt;
    padding-bottom: 0.3em;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    color: $text-color;
}


/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
    display: block;
}



.header-image a img {
    // max-width: 850px !important;
    @include media-query($on-palm) {
        max-width: 100% !important;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
        clear: both;
        padding-top: 25px;
    }

    h1, h2, h3, h4, h5 {
        color: $text-color;
        background-color: $container-background;
    }

    .header-sticky {
        position: sticky;
        @include media-query($on-palm) {
            position: relative;
        }
    }

    .header-sticky-1 {
        top: 0px;
        @include media-query($on-palm) {
            top: auto;
        }
    }

    .header-sticky-2 {
        top: 58px;
        @include media-query($on-palm) {
            top: auto;
        }
    }

    .header-sticky-3 {
        top: 100px;
        @include media-query($on-palm) {
            top: auto;
        }
    }

    .header-sticky-4 {
        top: 141px;
        @include media-query($on-palm) {
            top: auto;
        }
    }

    h1 {
        font-size: 40px;
        height: 40px;
        font-weight: 600;
        border-bottom: 3px solid rgb(0, 0, 0);
        padding-bottom: 5px;
        padding-top: 10px;

        @include media-query($on-palm) {
            height: auto;
        }

        code {
            font-size: inherit;
            font-weight: inherit;

            @include media-query($on-laptop) {
                font-size: inherit;
            }
        }
    }

    h2 {
        font-size: 30px;
        height: 35px;
        border-bottom: 2px solid rgb(200, 200, 200);
        padding-bottom: 5px;
        @include media-query($on-palm) {
            height: auto;
        }

        code {

            font-size: inherit;
            font-weight: inherit;

            @include media-query($on-laptop) {
                font-size: inherit;
            }
        }
    }

    h3 {
        font-size: 30px;
        height: 35px;
        border-bottom: 1px solid rgb(200, 200, 200);
        padding-bottom: 5px;
        @include media-query($on-palm) {
            height: auto;
        }

        code {
            font-size: inherit;
            font-weight: inherit;

            @include media-query($on-laptop) {
                font-size: inherit;
            }
        }
    }

    h4 {
        font-size: 30px;
        height: 35px;
        border-bottom: 1px solid rgb(200, 200, 200);
        padding-bottom: 5px;
        @include media-query($on-palm) {
            height: auto;
        }

        code {
            font-size: inherit;
            font-weight: inherit;

            @include media-query($on-laptop) {
                font-size: inherit;
            }
        }
    }
}

.previous,
.next {
    font-size: 40px;

    @include media-query($on-palm) {
        font-size: 15px;
    }
}

.tags_footer {
    font-size: 20px;
    text-align: right;

    @include media-query($on-palm) {
        font-size: 20px;
    }
}

.tags {
    column-count: 4;

    @include media-query($on-laptop) {
        column-count: 3;
    }

    @include media-query($on-palm) {
        column-count: 1;
    }
}

.tag-post-date::after {
    content: "–";

    @include media-query($on-palm) {
        content: ""
    }
}

.tag-post-content {
    @include media-query($on-palm) {
        display: block;
        margin-bottom: 12px;
    }
}

#copyright {
    color: $brand-color;
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
}

#tags-type {
    z-index: 1400;
    position: fixed;
    top: 2px;
    right: 14%;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: $sidebar-background;

    @include media-query($on-palm) {
        right: 5%;
    }

    #enable-sort {
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: linear-gradient(
            to bottom,
            $gradient-light 5%,
            $gradient-dark 100%
        );
        background-color: #ededed;
        display: inline-block;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: palegreen;
        width: 130px;
        height: 36px;
        z-index: -10;
        transition: transform 0.3s, border-right 0.3s, border-left 0.3s,
                    border-top-right-radius, 0.1s, border-top-left-radius 0.1s,
                    border-bottom-right-radius 0.1s, border-bottom-left-radius 0.1s;
    }

    .sort-radius-left {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: 2px solid #999;
    }
    .sort-radius-right {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 2px solid #999;
    }

    #sort-tag {
        display: inline-block;
        padding: 3px 6px 3px 6px;
        margin-right: -3px;
        color: $text-color;
        width: 120px;
        height: 30px;
        text-align: center;
        z-index: 10;
        background-color: rgba(255,255,255,0.7);
    }

    #sort-year {
        display: inline-block;
        padding: 3px 6px 3px 6px;
        margin-left: -3px;
        color: $text-color;
        width: 120px;
        height: 30px;
        text-align: center;
        z-index: 10;
        background-color: rgba(255,255,255,0.7);
    }

    .sort-style:visited {
        color: block;
    }
}

#chart-weight-modifiers {
    position: sticky;
    top: 58px;
    width: 100%;
    cursor: pointer;
    padding: 0px;
    background: rgba(249, 248, 238, 0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    z-index: 100; // stupid chrome.

    @include media-query($on-palm) {
        right: 5%;
    }

    .mod-button {
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: 0px;
        min-width: 55px;
        height: 26px;
        border: 2px solid #999;
        border-radius: 3px;
        margin: 3px;
        padding: 3px 6px 3px 6px;
        margin-right: -3px;
        color: $text-color;
        height: 30px;
        text-align: center;
        background-color: rgba(250, 249, 240, 1);
        z-index: 10;
    }

    .mod-button:hover {
        transition: background-color 200ms ease-out;
        background-color: palegreen;
    }

    .mod-button:active {
        transition: background-color 10ms ease-out;
        background-color: limegreen;
    }

    .sort-radius-left {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: 2px solid #999;
    }
    .sort-radius-right {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 2px solid #999;
    }

    #zero-percent {
    }
    #one-hundred-percent {
    }
    #plus-ten {
    }
    #minus-ten {
    }
    #dc-function {
    }
    #dc-opinion {
    }

    .sort-style:visited {
        color: block;
    }
}

.index-post iframe {
    @include media-query($on-palm) {
        width: 90%;
    }
}

.index-post .audiojs {
    @include media-query($on-palm) {
        width: 90%;
    }
}

#h-chart {
    width: 100%;
    background-image: url("/assets/Harmonics/Fretboard.png");
    background-size: contain;
    margin-bottom: 15px;
}

#h-chart img {
    top: 0px;
    left: 0px;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#h-selector {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.h-button {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 5px 0 5px;
    width: 7%;
    text-align: center;
    // background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
}

$h-colours: #ff001f, #ff0073, #ff00e3, #b500ff, #4100ff, #00b6ff, #00ffe7,
            #00ff19, #8dbd42, #bdb342, #d4440b, #444;

@for $i from 1 through 12 {
    .h-button:nth-child(#{$i}) {
        background-color: nth($h-colours, $i);
        background:linear-gradient(to bottom, nth($h-colours, $i), lighten(nth($h-colours, $i), 15%) 100%);
        box-shadow: 4px 4px 2px -1px darken(nth($h-colours, $i), 25%);
        border: 1px solid darken(nth($h-colours, $i), 15%);
    }
    .h-button:nth-child(#{$i}):hover {
        background-color: lighten(nth($h-colours, $i), 20%);
        background:linear-gradient(to bottom, lighten(nth($h-colours, $i), 20%) , lighten(nth($h-colours, $i), 30%) 100%);
    }
    .h-button:nth-child(#{$i}):active {
        box-shadow: 1px 1px 4px -1px darken(nth($h-colours, $i), 25%);
    }
}

.h-border {
    border-top: 2px solid black;
}

.h-button:active {
    position: relative;
    top: 3px;
    left: 3px;
}

.h-visible {
    display: inline;
}
.h-invisible {
    display: none;
}

.copy-button {
    margin-left: 10px;
    opacity: 0;
}


.copy-button:hover {
    text-decoration: none;
    opacity:1;
    -webkit-transition: opacity .10s ease-in-out .0s;
    transition: opacity .10s ease-in-out .0s;
    visibility: visible;
}

#search-submit {
    font-size: 10pt;
}

