<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <!-- <div> -->
    <!-- <div class="side-bar-box"> -->
    <!--   <iframe src="/recentposts.html" class="side-bar-iframe" frameborder="0" scrolling="no" id="sidebar1"></iframe> -->
    <!-- </div> -->

  <!--   <div class="side-bar-box2"> -->
  <!--     <iframe src="/categories.html" class="side-bar-iframe" frameborder="0" scrolling="no" id="sidebar2"></iframe> -->
  <!--   </div> -->
  <!-- </div> -->
<div id="main-flex-container">
  {% include left-sidebar.html %}
  
  <div class="page-content">

    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  <div class="sidebar-right">
    stuff here
  </div>

</div>

  {% include footer.html %}

</body>

</html>
